@model IEnumerable<MyChurch.Models.Leader>

@{
    ViewBag.Title = "Index";
}

<div style="background-color: #996929; padding-top: 160px; padding-bottom: 80px;">
    <div class="container">
        <h1 style="font-family: 'Playfair Display', serif; font-size: 4rem; color: white;">
            Meet Our
        </h1>
        <h1 style="font-family: 'Playfair Display', serif; font-size: 4rem; color: white;">
            Senior Leadership Team
        </h1>
        <p style="color: white; font-size: 0.9rem;" class="mt-4">This is the apostolic team that provides spiritual and organizational oversight for everything that happens at Tree of Life.</p>
    </div>
</div>

<div class="container">
    <div class="d-flex flex-wrap justify-content-between" style="margin-top: 100px;">
        @foreach (var item in Model)
        {
            <div class="leaderCard mb-5">
                <div style="width: 312px; height: 312px; object-fit: cover; overflow: hidden;" class="mb-4">
                    <img src="~/Assets/img/@Html.DisplayFor(modelItem => item.Photo)" style="max-width: 100%; height:auto;" alt="@Html.DisplayFor(modelItem => item.Photo)" />
                </div>
                <div class="fs-4 fw-bold mb-2 text-white">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Lastname)</div>
                <div class="mb-2">@Html.DisplayFor(modelItem => item.Ministry1.MinistryType)</div>
                @*@Html.ActionLink("Read Bio", "Details", new { id = item.IDLeader })*@
                <a class="welcome-btn" href="@Url.Action("Details", new { id = item.IDLeader })" style="color: inherit; text-decoration: none; font-size: 0.9rem;">Read Bio<i class="bi bi-arrow-right-short"></i></a>
            </div>
        }
    </div>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        <div class="btn btn-outline-info">
            <a href="@Url.Action("Create")" style="color: inherit; text-decoration: none;">Add Leader</a>
        </div>
    }
</div>
